<li class="commentLi">
    <span class="commentName">{{this.user}} <a href="/delete" class="delete">X</a></span><hr>
    <span class="commentTxt">{{this.comment}}</span>
    <input type="hidden" value={{this._id}}class="commentId">
</li>